/* Home Styles */
.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.resultsBackground {
  background-color: rgba(47, 54, 80,1);
	background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.resultsBanner {
  background-color: rgba(47, 54, 80,1);
  padding-bottom: 25px;
  animation-name: fadein;
  animation-duration: 2s;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.resultsBanner h1 {
  font-size: 5em;
  text-align: center;
  color:#fff;
  font-weight:;
}

.resultsBanner p {
  font-size: 1.1em;
  text-align: center;
  margin-top:;
  color:#ccc;
}

.resultsFilters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  text-align: center;
  font-size: 1.2em;
  padding-top: 25px;
}

.resultsFilters select {
  color:rgba(47, 54, 80,.8);
  display: flex;
  flex-direction: row;
  background: transparent;
  width:auto;
  text-align-last: center;
  font-size: .9em;
  border: 0px solid #ddd;
  height:35px;
  cursor: pointer;
  overflow:hidden;
  font-weight:;
  background:url("../../photos/results-arrow.png") no-repeat right rgba(0,0,0,.0);
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.resultsFilters select:focus {
  outline: none;
}

.resultsFilters select:hover {
  /*background:url("../../photos/results-arrow-hover.png") no-repeat right rgba(0,0,0,.0);*/
  color: rgba(47, 54, 80,1);
}

.feesFilter select {
  padding-right: 25px;
}

.feesFilter img {
  padding-right: 25px;
}

.performanceFilter select {
  padding-right: 25px;
  padding-left: 160px;
}

.performanceFilter img {
  padding-right: 25px;
  padding-left: 160px;
}

.specialOffersFilter select {
  padding-right: 25px;
  padding-left: 160px;
}

.specialOffersFilter img {
  padding-right: 25px;
  padding-left: 160px;
}

.locationFilter select {
  padding-right: 25px;
  padding-left: 160px;
}

.locationFilter img {
  padding-right: 25px;
  padding-left: 160px;
}

.filterTitleDivider {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: .5em;
  margin-bottom:.;
  margin-left: auto;
  margin-right: auto;
  border-style:;
  border-width: 1px;
  border-color:rgba(255, 255, 255,.8);
  background: white;
}
.resultsBox {
  min-height:100vh;
  background:#fff;
  display:flex;
  flex-direction:column;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 35px;
}

.result {
  min-height:;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  display:flex;
  flex-direction: row;
  border: 0px solid #CCCCCC;
  border-radius: 5px;
  /*box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.09);*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.10);
  background: rgba(0, 0, 0, 0.0);
  text-decoration: none;
  color: rgba(47, 54, 80,1);
  padding-right: 10px;
  font-size:;
}

.resultLogo{
  display: flex;
  flex-direction: column;
  min-height: inherit;
  width: 150px;
  padding:20px;
  background-color: rgba(47, 54, 80,1);
  border-radius: 5px;
}

.resultLogo img:hover {
  filter: brightness(110%);
}

.logoImage{
  width: 190px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.10);
}

.imageInfoBuffer {
  padding-left: 45px;
}

.companyAndProductTitle {
  padding-top: 10px;
}

.companyAndProductTitle:hover {
text-decoration: underline;
color:white;
}

.resultBorder {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color:rgba(255, 255, 255,.3);
}

.resultProuctFont {
  color: rgba(47, 54, 80,.8);
  font-weight: bold;
}
