/* Education Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  position: relative;
}

.educationBanner {
  background-image: url("../../photos/education.jpg");
  height:600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.educationBanner h1 {
  font-size: 6.5em;
  text-align: center;
  margin-top: 140px;
  color: rgba(248,250,242,.8);
  animation-name: fadein;
  animation-duration: 4s;
  /*Title Font*/font-family: 'Open Sans Condensed', sans-serif;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .8; }
}

.educationBanner p {
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
  color: rgba(248,250,242,.8);
}

.imageBoxes {
  display: flex;
  flex-direction: row;
  background:#2F3650;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 55px;
  color: rgba(248,250,242,.9);
}

.imageBoxes h2 {
  color: rgba(248,250,242,.9);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
}

.imageBoxes p {
  color: rgba(248,250,242,.8);
  font-size: 1.2em;
}

.educationProductBox {
  margin-left: 100px;
}

.educationProductBox h2 {
margin-top: 10px;
margin-bottom: 10px;
}

.educationPerformanceBox {
  margin-left: 60px;
}

.educationPerformanceBox h2 {
margin-top: 10px;
margin-bottom: 10px;
}

.compoundInterestBox {
  margin-left: 60px;
}

.compoundInterestBox h2 {
margin-top: 10px;
margin-bottom: 10px;
}

.educationExpensesBox {
  margin-left: 60px;
  margin-right: 100px;
}

.educationExpensesBox h2 {
margin-top: 10px;
margin-bottom: 10px;
}

.imageBoxes h2 {
  font-size: 1.2em;
}

.imageBoxes p {
  font-size: 1.2em;
}

.educationInfo {
  font-size: 1.4em;
  color: rgba(47, 54, 80,.9);
  /*background-color:rgba(229,176,144,.2);*/
  background-color: white;
  padding-left:150px;
  padding-right:150px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.educationInfo h2{
  text-align: center;
  padding-bottom:;
  font-size: 2.5em;
}

.educationTitleDivider {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: .5px;
  border-color:rgba(47, 54, 80,.2);
}

.educationInfo h3{
  text-align: center;
  padding-bottom: 15px;
  font-size: 1.4em;
  color: rgba(47, 54, 80,.7);
}

.educationInfo h4{
  padding-bottom: 5px;
  font-size: 1.1em;
  font-weight: bold;
  color: rgba(47, 54, 80,.9);
}

.startNowBox {
  display: flex;
  flex-direction: row;
  background: #2F3650;
  text-align: center;
  padding-top: 95px;
  padding-bottom: 95px;
  padding-left: 580px;
  padding-right: 580px;
  color: rgba(255,255,255, .8);
  font-size: 1.4em;
  justify-content: center;
}

.startNowBox h2 {
  color: rgba(255,255,255, .9);
  font-family: 'Roboto Condensed', sans-serif;
;
}

.startNowBox p {
  color: rgba(255,255,255, .7);
}

.startNowButton input[type="button"] {
  width:270px;
  display: inline-block;
	padding: 10px 14px;
  margin: 40px;
	color: rgba(255,255,255,1);
	border: 0px solid rgba(229,176,144, 1);
	text-decoration: none;
	font-size: 1.1em;
	line-height: 130%;
	background-color: rgba(229,176,144, .7);
	border-radius: 6px;
	transition: 400ms ease;
  font-weight: normal;
  outline: none;
	cursor: pointer;
}

.startNowButton input[type="button"]:hover {
  background-color:rgba(229,176,144, 1);
	color: rgba(255,255,255,1);
  border: 0 solid rgba(229,176,144, 1);
}
